.tab-interface {
	max-width: 30em;
}

.tab-interface.is-tabbed .tab-handle.is-selected {
	border: 1px solid #ddd;
	border-bottom-color: white;
}

.tab-interface.is-tabbed .tab-panel {
	display: none;
}
.tab-interface.is-tabbed .tab-panel.is-selected {
	display: inherit;
}

/* ANIMATED */
/*
.tab-interface {
	position: relative;
	max-width: 30em;
	height: 500px;
	overflow-x: hidden;
	overflow-y: visible;
}

.tab-interface.is-tabbed .tab-handle.is-selected {
	border: 1px solid #ddd;
	border-bottom-color: white;
}

.tab-interface.is-tabbed .tab-panel {
	position: absolute;
	left: 100%;
	transition: left 0.6s ease-out;
}
.tab-interface.is-tabbed .tab-panel.is-selected {
	display: inherit;
	left: 0;
	z-index: 1;
}

.tab-panel .thumbnail img {
	max-width: inherit;
}
*/
